body{
	margin:0;
}

#globalwrapper{
	background-image: url("../images/bg.gif");
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#header{
	height:100px;
	width:960px;
	margin:0;
}
#logo{
	width:370px;
	height:100px;
	float:left;
	margin-left:30px;
}
#logo img{
	height:100px;
}
#login{
	float:right;
	margin-right:20px;
}
#loginparts label{
	display:block;
	float:left;
	margin-top:13px;
	margin-right:7px;
	color:DimGray;
}
#loginparts .datainput{
	width:180px;
}

#loginparts #submitbutton{
	margin-top:0px;
}
#submitbutton {
	color:DimGray;
	margin-top:20px;
}
#loginlinks{
	width:150px;
	display:block;
	margin-top:2px;
	top:52px;
	position:absolute;
	margin-left:2px;
}
#loginlinks ul{
	margin-top:0px;
	list-style-type:none;
	padding-left:0px;
	margin-bottom:0px;
}
#loginlinks ul li a{
	font-size:12px;
	color:#006600;
	text-decoration:none;
	font-weight:bold;
}
#loginlinks ul li a:hover{
	color:LimeGreen;
}
#nav{
	width:960px;
	height:50px;
	background-image: url("../images/g.gif");
}

#nav ul{
	list-style-type:none;
	padding:0px;
	margin-top:0px;
}
#nav ul li{
	float:left;
}

#nav1{
	margin-left:auto;
	margin-right:auto;
	width:700px;
	display:block;
}
#nav1 ul{
	display:block;
	margin:0;
}
#nav1 ul li{
	border-left:1px solid #e4e4e4;
	border-right:1px solid #d2d2d2;
	padding:0px;
	height:50px
}
#nav1 ul li a{
	text-align:center;
	padding:15px 20px;
	height:20px;	
	display:block;
	text-decoration:none;
	color:#686868;
	font-weight:bold;
	width:70px;
}
#nav1 ul li a.current{
	color:#006600;
}
#nav1 a:hover{
	background-image: url("../images/gh.gif");
}

#langlinks{
	float:right;
	margin-right:14px;
}
#langlinks ul li{
	margin-left:2px;
	margin-right:2px;
	margin-top:7px;
}

#image{
	height:275px;
	width:960px;
}

#image div{
	height:275px;
}

#contentwrapper{
	width:960px;
}

#content{
	padding:15px;
	margin-top:10px;
	margin-left:30px;
	width:860px;
}
#content h2{
	width:860px;
}
#content p{
	text-align:justify;
}
h2{
	margin-top:0;
	padding-bottom:6px;
	border-bottom:2px solid green;
}

.twocolumn{
	background:#ff8888;
}

.twocolumn .columnone{
	width:430px;
	display:inline;
	margin-bottom:25px;
}
.twocolumn  .columntwo{
	width:375px;
	display:inline;
	margin-bottom:25px;
}
.twocolumn .columnone{
	float:left;
}
.twocolumn .columnone label{
	margin-top:15px;
	display:inline-block;
}
.twocolumn .columntwo{
	float:right;
}
.twocolumn .columntwo label{
	display:inline-block;
	width:370px;
}
.twocolumn .columntwo label input{
	float:right;
	width:200px;
}
.twocolumn .columntwo #submitbutton{
	float:right;
}
.twocolumn h2{
	padding-bottom:6px;
	border-bottom:2px solid green;
}
.twocolumn .columnone input{
	width:250px;
	margin-right:5px;
}
.tcuneven .columnone{
	width:500px;
	padding-right:52px;
}
.tcuneven .columntwo{
	width:270px;
	height:330px;
}
.tcuneven .columnone h2{
	width:auto !important;
}
.tcuneven .columntwo h2{
	width:260px !important;
}
.tcuneven .columntwo label{
	display:inline-block;
	width:212px;
}
.tcuneven .columntwo label input{
	width:210px;
	float:none;
}
.tcuneven .columntwo #submitbutton{
	float:left;
}
.columnone{
	height:330px;
	border-right:2px solid DimGray;
}
.columnone label, .columntwo label{
	margin-top:10px;
	color:DimGray;
	font-size:20px;
}
.twocolumn .columnone .adultchild, .tcuneven .columntwo .adultchild
{
	width:50px;
}
#adult{
	float:left;
	margin-right:30px;
	width:auto;
}
#child{
	width:auto;
}
.twocolumn .columntwo label select{
	float:right;
	width:200px;
}
.columnone h2{
	width:370px !important;
}
.columntwo h2{
	width:370px !important;
}

#footer{
	clear:both;
	width:960px;
	height:50px;
	background-image: url("../images/g.gif");
	font-size:13px;
	text-align:center;
	color:DimGray;
	line-height:50px;
}
label{
	display:block;
}
label input{
	display:block;
	text-indent:5px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
input.datainput{
	background-image:url("../images/gg.jpg");
	background-repeat:repeat-x;
	box-shadow:2px 2px 3px Gray;
	border-style:hidden;
	height:20px;
}

.promo{
	float:left;
	display:inline-block;
	padding-top:5px;
	width:auto;
	margin-right:100px;
}
.tcuneven label.promo{
	width:260px;
}
.twocolumn .promo .datainput{
	float:right;
	width:100px;
	margin-left:10px;
	text-transform:uppercase;
}
.cal{
	width:35px;
	display:inline-block;
}
.cal input{
	background:url('../images/cal.svg');
	position:relative;
	bottom:4px;
	background-size:30px;
	background-repeat:no-repeat;
	height:28px;
	width:30px !important;
	border:none;
	cursor:pointer;
}
.cal input:hover{
	border-radius:15px;
	background-color:white;
}
.twocolumn .columnone .cal{
	margin-right:100px;
}
.dropDown{
	background-image:url("../images/gg.jpg");
	background-repeat:repeat-x;
	background-color:#eaeaea;
	box-shadow:2px 2px 3px Gray;
	border-style:hidden;
	padding-left:5px;
	height:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#loginerror
{
	margin-left:190px;
	width:200px;
}