body{
	margin:0;
}

#globalwrapper{
	background:red;
	background-image: url("../images/bg.gif");
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#header{
	height:100px;
	width:960px;
	margin:0;
}
#logo{
	width:370px;
	height:100px;
	float:left;
	margin-left:30px;
}
#logo img{
	height:100px;
}
#login{
	float:right;
	margin-right:20px;
}
#loginparts label{
	display:block;
	float:left;
	margin-top:13px;
	margin-right:7px;
	color:DimGray;
}
#loginparts .datainput{
	width:150px;
}
#submitbutton {
	color:DimGray;
}
#loginlinks{
	width:150px;
	display:block;
	margin-top:1px;
	top:52px;
	position:absolute;
}
#loginlinks ul{
	margin-top:0px;
	list-style-type:none;
	padding-left:0px;
	margin-bottom:0px;
}
#loginlinks ul li a{
	font-size:12px;
}

#nav{
	width:960px;
	height:50px;
	background-image: url("../images/g.gif");
}

#nav ul{
	list-style-type:none;
	padding:0px;
	margin-top:0px;
}
#nav ul li{
	float:left;
}

#nav1{
		margin-left:auto;
		margin-right:auto;
		width:550px;
		display:block;
}
#nav1 ul{
	display:block;
	margin:0;
}
#nav1 ul li{
	border-left:1px solid #e4e4e4;
	border-right:1px solid #d2d2d2;
	padding:0px;
}
#nav1 ul li a{
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	margin:0px;
	height:20px;	
	display:block;
	text-decoration:none;
	color:#686868;
	font-weight:bold;
}
#nav1 ul li a.current{
	color:#006600;
}
#nav1 a:hover{
	background-image: url("../images/gh.gif");
}

#langlinks{
	display:block;
	margin-right:14px;
	float:right;
}
#langlinks ul li{
	margin-left:2px;
	margin-right:2px;
	margin-top:7px;
}

#image{
	height:275px;
	width:960px;
}

#image div{
	height:275px;
}

#contentwrapper{
	width:960px;
}

#content{
	padding:15px;
}

h2{
	margin-top:0;
}

.twocolumn{
	background:#ff8888;
	margin-top:10px;
}

.twocolumn .columnone, .twocolumn  .columntwo{
	width:425px;
	display:inline;
	margin-bottom:50px;
}

.twocolumn .columnone{
	float:left;
	margin-left:30px;
}
.twocolumn .columnone label{
	margin-top:15px;
}
.twocolumn .columntwo{
	float:right;
}
.twocolumn .columntwo label{
	display:inline-block;
	width:370px;
}
.twocolumn .columntwo label input{
	float:right;
	width:200px;
}
.twocolumn .columntwo #submitbutton{
	float:right;
	margin-right:60px;
}
.twocolumn h2{
	padding-bottom:6px;
	border-bottom:2px solid green;
}
.twocolumn .columnone input{
	width:250px;
}
.tcuneven .columnone{
	width:500px;
	padding-right:52px;
}
.tcuneven .columntwo{
	width:300px;
}
.tcuneven .columnone h2{
	width:auto;
}
.tcuneven .columntwo h2{
	width:260px;
}
.tcuneven .columntwo label{
	display:block;
	width:auto;
}
.tcuneven .columntwo label input{
	float:none;
}
.tcuneven .columntwo #submitbutton{
	margin-top:20px;
	float:left;
}
.columnone{
	height:300px;
	border-right:1px solid black;
}
.columnone label, .columntwo label{
	margin-top:10px;
	color:DimGray;
	font-size:20px;
}
.twocolumn .columnone .adultchild, .tcuneven .columntwo .adultchild
{
	width:50px;
}
.columnone h2{
	width:370px;
}
.columntwo h2{
	width:370px;
}

#footer{
	clear:both;
	width:960px;
	height:50px;
	background-image: url("../images/g.gif");
}

label{
	display:block;
}
label input{
	display:block;
}
input.datainput{
	background-image:url("../images/gg.jpg");
	background-repeat:repeat-x;
	box-shadow:2px 2px 3px Gray;
	border-style:hidden;
}

.promo{
	float:left;
	display:inline-block;
	padding-top:15px;
}

.twocolumn .promo .datainput{
	float:right;
	width:100px;
	margin-left:10px;
}