body {
	background-color: #e4e4e4;
	margin: 0px;
}
#globalwrapper {
}
#header {
}
#nav {
	float: left;
	width: 12em;
}
#footer {
	width:auto;
	min-width:960px;
	border-width: 1px;
	border-color: #000000;
	clear: both;
	border-top-style: solid;
	font-size:13px;
	text-align:center;
}
#contentwrapper {
	position: relative;
	margin-left: 12em;
	padding:5px;
}
#logo {
	display: block;
}
#logo img {
	width: 12em;
}
#title {
	padding: 9px 15px;
	position: absolute;
	height: 60px;
	top: 0px;
	left: 12em;
	width:600px;
}
#title h1 {
	display: inline;
}
#nav {
}
#nav ul {
	list-style-type: none;
	margin: 0px;
	padding-left:0px;
}
#nav ul li {

}
#nav ul li a {
	padding: 9px 8px 7px;
	width: 11em;
	background-color: #787878;
	text-decoration: none;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	height: 1.5em;
	border-width: 1px;
	border-color: #ffffff;
	border-bottom-style: solid;
	display:block;
}
#nav ul li ul {
	margin-left: 1em;

}
#nav ul li ul li {
}
#nav ul li ul li a {
	border-width: 1px;
	border-color: #000000;
	padding-top: 6px;
	padding-bottom: 2px;
	width: 10em;
	background-color: #C0C0C0;
	color: #000000;
	border-bottom-style: solid;
	border-color: #ffffff;
}
#subnav {
}
#subnav ul {
	list-style-type: none;
	margin: 0px;
	padding-top: 6px;
	padding-left:0px;
}
#subnav ul li {
	display: inline;
	border-style: solid;
	border-width: 1px;
	margin:4px;
	padding:0px 5px 0px 2px;
	background:#FFFFFF;
}
#subnav ul li a {
	padding: 2px 5px 0px 5px;
	background-color:#FFFFFF;
	text-decoration:none;
	font-size: 10pt;
	color: #000000;
	margin-right: -4px;
}
#content {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	margin: -1px 2px 2px 2px;
	padding:10px;
	display:inline-block;
	width:auto;
	min-width:740px;
}
#content label{
	font-weight:bold;
}
#content table td{
	padding-right:30px;
}
#userlist{
	border-collapse:collapse;
}
#userlist tr:hover{
	background:DimGray;
	color:white;
	border-color:DimGray;	
}
#userlist td a{
	text-decoration:none;
	color:inherit;
}
.infield{
	width:450px;
	display:block;
	float:left;
	margin-top:5px;
}
.infield input{
	display:inline;
	float:right;
	width:230px;
}
#submitbutton{
	margin-top:20px;
}
#constraint{
	width:500px;
}
#minWidth{
	min-width:150px;
}