.pager
{
	clear:both;
	width:900px;
}

.pager ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.pager ul li
{
	float:left;
}

.pager ul li a
{
	width:25px;
	height:25px;
	padding:3.5px;
	border:1px solid #dddddd;
	text-align:center;
	display:block;
	margin-right:-1px;
	color:rgb(0, 136, 204);
	text-decoration:none;
}

.pager ul li:hover
{
	background-color:#eeeeee;
}

.pager ul li a:hover
{
	color:#000080;
}

.disable a{
	color:#cacaca !important;
	pointer-events: none;
    cursor: default;
}
.disable{
	background-color:#eeeeee;
}